/* Selector universal:todas las etiquetas*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppis',sans-serif;
}
/*Selector de etiquetas*/
html body{
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 550px;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
h3{

    font-size: 4ram;
    font-weight: bold;
    text-align: center;
    animation: animacion-titulo 2s ease-in-out infinite alternate;
    color: #000;
}
@keyframes animacion-titulo{
    0%{
        transform: translateY(0);
    }
    100%{
        transform:translateY(-10px) ;
    }

}
.content-form{
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    
}
.content-form .card{
   position: relative;
   max-width: 250px;
   height: 215px;
   background-color: transparent;
   margin: 30px 10px;
   padding: 20px 15px;
   display: flex;
   flex-direction: column;
   box-shadow: 0 5px 202px rgba(0,0,0,0,5);
   transition: 0.3s ease-in-out; 
}
.content-form .card:hover{
    height: 420px;
}
.content-form .card .imagenes{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0,0,0,0,5);
}
.content-form .card .imagenes img{
    max-width: 85%;
    border-radius: 4px;
    margin: 0;
}
.content-form .card .content{
    
    width: auto;
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.content-form .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.content-formDatos{
    width: 400px; /*tamano ancho*/
    background: transparent;
    backdrop-filter: blur(15px);
    margin: 0;
    margin-top: 850px;
    border: 5px solid #ffccbc;/*grosor-stilo y color borde*/
    border-radius: 15px; /*redondear esquinas*/
    padding: 30px;
    box-shadow: 10px 15px 40px #fbe9e7; /*Sobreado alrededor*/ 
    position: relative;
    max-height:  100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 4ram;
    font-weight: bold;
    text-align: center;
    animation: animacion-titulo 1s ease-in-out infinite alternate;
     
    
}
.controles{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 5px;
    border: 3px solid lightgoldenrodyellow;
    box-shadow: 10px 15px 40px #e68175; /*Sobreado alrededor*/
    border-radius: 10px;
    color: #000;
}
#botones{
    background:transparent;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #d0c8a8;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
    

    
  }

/*Selector de seudoclase*/
#botones:hover{
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803,
                0 0 25px #bd9d0b,
                0 0 50px #f4e403,
                0 0 100px #d5cf1e;
  
}
.controles .botones span {
    position: absolute;
    display: block;
  }
  
  .controles .botones span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f4c003);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .controles .botones span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f4bc03);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .controles .botones span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f4dc03);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .controles .botones span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f4b003);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
}
.content-formFactura{
    position: column;
    width: 400px;/*tamano ancho*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    max-height: 100vb;
    background:transparent;
    backdrop-filter: blur(15px);

    margin: 0;
    margin-top: 700px;
    border: 5px solid lightgoldenrodyellow;/*grosor-stilo y color borde*/
    border-radius: 15px; /*redondear esquinas*/
    box-shadow: 10px 15px 40px #fbe9e7; /*Sobreado alrededor*/

    font-size: 4ram;
    font-weight: bold;
    text-align: center;
    animation: animacion-titulo 2s ease-in-out infinite alternate;

    
      
     
}
 